/* Estilo geral da página */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1c1c1c, #0c0000);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

/* Estilo do contêiner principal */
div {
    background: rgba(182, 6, 6, 0.918); /* Fundo translúcido */
    backdrop-filter: blur(10px); /* Glassmorphism efeito de desfoque */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

/* Estilo do título */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Estilo dos campos de formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 8px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    font-size: 14px;
    transition: all 0.3s ease;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(255, 227, 227, 0.7);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    outline: none;
}

/* Estilo do botão de cadastrar */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background:  rgba(34, 0, 0, 0.76); /* Gradiente vibrante */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:active {
    transform: translateY(0);
}

/* Estilo do link */
a {
    margin-top: 20px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

select {
    color: rgb(29, 0, 0);
}
